@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-zinc-950;
	@apply text-zinc-100;
	@apply font-sans;
	line-height: 1.3em;
}

h2 {
	font-size: 1.875rem /* 30px */;
	line-height: 2.25rem /* 36px */;
	font-weight: 700;
}

::-webkit-scrollbar {
	@apply rounded-full bg-zinc-800 w-1;
}

::-webkit-scrollbar-thumb {
	@apply rounded-full bg-zinc-700 w-1;
}

::-webkit-scrollbar-button {
	display: none; 
}
