@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-zinc-950;
	@apply text-zinc-100;
	@apply font-sans;
	line-height: 1.3em;
}

h1 {
	@apply text-4xl font-bold 2xl:text-6xl;
	line-height: 1.5em;
}

h2 {
	@apply text-3xl font-bold;
	line-height: 1.5em;
}

h3 {
	@apply text-xl font-semibold;
	line-height: 1.5em;
}

h4 {
	@apply font-medium;
	line-height: 1.5em;
}

hr {
	@apply border-zinc-800
}

::-webkit-scrollbar {
	@apply rounded-full bg-zinc-800 w-1 h-1;
}

::-webkit-scrollbar-thumb {
	@apply rounded-full bg-zinc-700 w-1 h-1;
}

::-webkit-scrollbar-button {
	display: none; 
}
